In [11]:
import sys
sys.path.append('../src')

from data_collection import FinancialDataCollector
from data_processing import FinancialDataProcessor
import pandas as pd
import numpy as np

In [12]:
collector = FinancialDataCollector()

## Collect Stock Data

In [14]:
print("Collecting stock market data...")
stock_data = collector.collect_stock_data(period="2y", save_data=True)

Collecting stock market data...
Collecting data for 50 stocks...
Processing AAPL (1/50)
Processing MSFT (2/50)
Processing GOOGL (3/50)
Processing AMZN (4/50)
Processing TSLA (5/50)
Processing META (6/50)
Processing NVDA (7/50)
Processing BRK-B (8/50)
Processing UNH (9/50)
Processing JNJ (10/50)
Processing V (11/50)
Processing WMT (12/50)
Processing XOM (13/50)
Processing LLY (14/50)
Processing JPM (15/50)
Processing PG (16/50)
Processing MA (17/50)
Processing HD (18/50)
Processing CVX (19/50)
Processing MRK (20/50)
Processing ABBV (21/50)
Processing PEP (22/50)
Processing KO (23/50)
Processing AVGO (24/50)
Processing PFE (25/50)
Processing TMO (26/50)
Processing COST (27/50)
Processing BAC (28/50)
Processing NFLX (29/50)
Processing CRM (30/50)
Processing ACN (31/50)
Processing LIN (32/50)
Processing MCD (33/50)
Processing ABT (34/50)
Processing ADBE (35/50)
Processing DHR (36/50)
Processing VZ (37/50)
Processing WFC (38/50)
Processing NEE (39/50)
Processing CMCSA (40/50)
Processing PM (41/50)
Processing NKE (42/50)
Processing TXN (43/50)
Processing RTX (44/50)
Processing UNP (45/50)
Processing LOW (46/50)
Processing AMD (47/50)
Processing T (48/50)
Processing QCOM (49/50)
Processing HON (50/50)
Data saved to data\raw\stock_data.pkl

In [15]:
# Create master price dataframe
master_df = collector.create_master_dataframe(stock_data)

In [16]:
print(f"Collected data for {len(stock_data)} stocks")
print(f"Date range: {master_df.index.min()} to {master_df.index.max()}")
print(f"Master dataframe shape: {master_df.shape}")

Collected data for 50 stocks
Date range: 2023-09-20 00:00:00-04:00 to 2025-09-19 00:00:00-04:00
Master dataframe shape: (502, 50)

In [17]:
print("\nSample stock data:")
display(master_df.head())

Sample stock data:

,AAPL,MSFT,GOOGL,AMZN,TSLA,META,NVDA,BRK-B,UNH,JNJ,...,PM,NKE,TXN,RTX,UNP,LOW,AMD,T,QCOM,HON
Date,,,,,,,,,,,,,,,,,,,,,
2023-09-20 00:00:00-04:00,173.787750,316.007751,132.823914,135.289993,262.589996,298.034973,42.214119,366.820007,474.458588,152.968353,...,89.040962,90.603714,152.616898,71.149170,203.560013,206.557816,100.339996,13.900708,104.632568,186.326553
2023-09-21 00:00:00-04:00,172.242905,314.786194,129.546509,129.330002,255.699997,294.116486,40.992844,363.279999,483.145081,151.794647,...,87.409767,88.243240,151.016327,69.438072,202.049896,202.424942,96.110001,13.686163,103.425499,183.442139
2023-09-22 00:00:00-04:00,173.094528,312.303650,129.357803,129.119995,244.880005,297.448181,41.585484,360.160004,487.926971,150.705429,...,86.507607,87.530281,150.931595,68.424789,199.985428,202.309601,96.199997,13.516315,103.157265,181.860992
2023-09-25 00:00:00-04:00,174.372040,312.825745,130.211914,131.270004,246.990005,299.188599,42.197132,361.709991,491.956879,150.480072,...,85.404968,87.289421,151.487106,68.874069,199.259048,204.241470,97.379997,13.462680,105.791748,183.854202
2023-09-26 00:00:00-04:00,170.291992,307.505920,127.689331,125.980003,244.119995,297.328857,41.886314,359.420013,487.300354,149.315750,...,84.157433,86.875122,148.719116,69.074821,195.780029,200.435379,95.959999,13.426923,105.111572,180.049866

In [18]:
print("\nBasic statistics:")
display(master_df.describe())

Basic statistics:

,AAPL,MSFT,GOOGL,AMZN,TSLA,META,NVDA,BRK-B,UNH,JNJ,...,PM,NKE,TXN,RTX,UNP,LOW,AMD,T,QCOM,HON
count,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,...,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000
mean,206.867000,417.917399,165.616984,188.476654,264.734243,537.815456,110.984844,439.740996,473.534677,151.870245,...,121.084558,81.768231,178.147647,111.985686,227.283504,230.733386,140.578127,20.707709,155.090929,204.272314
std,23.841367,47.433967,23.899003,29.297386,73.299724,130.539210,39.168627,53.083092,92.322571,9.203266,...,33.085542,14.334694,20.227179,24.295691,12.491281,22.650380,27.687052,5.147168,22.202733,15.264420
min,163.823547,307.505920,121.333145,119.570000,142.050003,286.776733,40.302246,331.709991,236.279343,136.714722,...,80.830688,52.644737,133.493103,66.321762,191.765823,177.520462,78.209999,13.045719,100.379066,168.713486
25%,186.815861,392.522415,147.785702,173.375000,208.885002,470.004929,85.880714,405.107491,462.331367,145.407764,...,88.064417,72.441366,160.222603,91.941149,220.596771,215.665859,116.797501,15.898850,145.893368,193.147282
50%,209.514404,414.026688,165.082108,186.764999,248.489998,527.852570,117.615711,452.940002,499.089172,150.892212,...,116.757072,77.661980,183.668427,115.691826,228.766571,227.430206,143.119995,20.607684,157.105927,202.806877
75%,226.816086,439.790298,178.327015,212.460003,323.832497,624.268829,137.625019,479.142502,530.925323,155.481441,...,151.730728,92.305544,193.940666,127.171383,236.355022,246.091434,162.127502,26.275774,165.245396,216.752228
max,258.103729,534.760925,254.720001,242.059998,479.859985,790.000000,183.149673,539.799988,611.977844,178.759995,...,183.567947,118.556465,219.662308,160.660004,250.141373,278.659149,211.380005,29.620001,220.949265,239.155029

In [20]:
master_df.to_csv('./data/processed/master_prices.csv')
print("Master price data saved to processed/master_prices.csv")

Master price data saved to processed/master_prices.csv